ClinicBot.json
{
  "name": "ClinicBot",
  "nodes": [
    {
      "parameters": {
        "updates": [
          "messages"
        ],
        "options": {}
      },
      "type": "n8n-nodes-base.whatsAppTrigger",
      "typeVersion": 1,
      "position": [
        -448,
        0
      ],
      "id": "744ca61c-764c-4914-ae17-5f436228889a",
      "name": "01 · Trigger — WhatsApp Entrante",
      "webhookId": "bd3ba0af-b69e-4b66-9e41-0aa3ad7c0120",
      "credentials": {
        "whatsAppTriggerApi": {
          "id": "YOUR_WHATSAPP_TRIGGER_CREDENTIAL_ID",
          "name": "WhatsApp OAuth account"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "loose",
            "version": 3
          },
          "conditions": [
            {
              "id": "f66d6e3d-1876-4362-8136-97e50dec055a",
              "leftValue": "={{ $json.messages[0].from }}",
              "rightValue": "",
              "operator": {
                "type": "boolean",
                "operation": "exists",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "looseTypeValidation": true,
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        -224,
        0
      ],
      "id": "15ab96e1-69af-4351-b954-4105ea5a5d5a",
      "name": "02 · Filtro — Mensaje válido"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        -224,
        256
      ],
      "id": "a0f73acc-7f18-4233-b06f-7a1fda87317b",
      "name": "03 · End — Mensaje inválido"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "c252e8dd-1040-4371-a571-9eb2f4c4fcb2",
              "name": "telefono",
              "value": "={{ $json.contacts[0].wa_id }}",
              "type": "string"
            },
            {
              "id": "e4b57120-6ef0-46cd-aa1a-6fa333181d85",
              "name": "mensaje",
              "value": "={{ $json.messages[0].text?.body ?? '[Mensaje no textual]' }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        0,
        -16
      ],
      "id": "8f48743b-599a-49e4-b63d-3531a439eef6",
      "name": "04 · Extracción — Teléfono y mensaje"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "e6ac38de-b740-440e-94cf-75548597e848",
              "leftValue": "=={{ $json.mensaje }}",
              "rightValue": "=[Mensaje no textual]",
              "operator": {
                "type": "string",
                "operation": "notEquals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        224,
        -16
      ],
      "id": "e20e4ef3-70a6-4414-ad70-0efbadd50a8f",
      "name": "05 · Filtro — ¿Es texto?"
    },
    {
      "parameters": {
        "operation": "send",
        "phoneNumberId": "=YOUR_WHATSAPP_PHONE_NUMBER_ID",
        "recipientPhoneNumber": "=={{ $('04 · Extracción — Teléfono y mensaje').item.json.telefono }}",
        "textBody": "Por el momento solo podemos procesar mensajes de texto.  Si necesita ayuda, comuníquese al (011) 4902-8800 o  escríbanos su consulta. 🙏",
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.whatsApp",
      "typeVersion": 1.1,
      "position": [
        224,
        304
      ],
      "id": "bcf164ab-c447-48f9-aa4d-b93eb5e70813",
      "name": "06 · Fallback — Mensaje no textual",
      "webhookId": "5a5ad65a-6286-405a-90d0-bec94660a4c5",
      "credentials": {
        "whatsAppApi": {
          "id": "YOUR_WHATSAPP_CREDENTIAL_ID",
          "name": "WhatsApp account"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.mensaje }}",
        "options": {
          "systemMessage": "Sos el asistente virtual del Centro Médico Integral Austral, una clínica privada \nubicada en Caballito, Buenos Aires. Tu nombre es \"Asistente de Austral\".\n\n🎭 TONO Y ESTILO:\nHablás de usted. Tono cálido pero profesional: no frío ni burocrático, pero tampoco \ncoloquial. Máximo 1 emoji por mensaje, solo cuando suma calidez. NUNCA uses frases \ncomo \"¡Estoy aquí para ayudarle!\", \"¡Con gusto lo asisto!\" o cualquier cosa que \nsuene a chatbot de call center o traducción del inglés. Si el paciente usa un tono \ninformal, mantenga el \"usted\" pero adaptá la calidez.\n\n🏥 INFORMACIÓN DE LA CLÍNICA:\nNombre: Centro Médico Integral Austral\nDirección: Av. Rivadavia 5240, Caballito, CABA (a media cuadra del subte A, estación \nAcoyte)\nTeléfono: (011) 4902-8800\nHorario de atención: lunes a viernes de 8 a 20hs, sábados de 8 a 13hs.\nFeriados: consultar disponibilidad antes de concurrir.\n\n📋 ESPECIALIDADES:\nClínica médica, Cardiología, Traumatología, Ginecología, Pediatría, Neurología, \nDermatología, Oftalmología, Kinesiología, Psicología, Nutrición.\n\n💳 OBRAS SOCIALES Y PREPAGAS:\nOSDE, Swiss Medical, Galeno, Medicus, IOMA, PAMI, OSPACA, Accord Salud, Omint, \ny las principales obras sociales sindicales. Para casos específicos o dudas sobre \ncobertura, confirmar directamente con administración.\nPacientes particulares: se atiende sin inconvenientes. Se informa el arancel al \nmomento de reservar el turno.\n\n🎯 TU OBJETIVO:\nCalificar al paciente recopilando estos 4 datos:\n1. Nombre completo\n2. Motivo de consulta (síntoma o especialidad que busca)\n3. Obra social o prepaga (o si es particular)\n4. Tipo de atención: urgente o turno programado\n\nHacelo de forma natural, nunca como un formulario. Podés preguntar los 4 juntos o \nde a uno según el contexto. Si el paciente ya dio algún dato en su primer mensaje, \nno lo repitas.\n\n✅ CUANDO TENGAS LOS 4 DATOS:\nRespondé EXACTAMENTE con este mensaje, sin modificarlo ni agregarle nada:\n\"Perfecto, ya tenemos todo lo que necesitamos. 🙌 Le paso los datos a nuestro \nequipo de admisión, que se va a comunicar con usted a la brevedad para confirmar \nel turno.\"\n\nLuego agregá al final (sin markdown, sin backticks):\nPATIENT_DATA:{\"nombre\":\"valor\",\"motivo\":\"valor\",\"obra_social\":\"valor\",\"urgencia\":\"valor\",\"resumen\":\"resumen breve en una línea\"}\n\nEl campo \"urgencia\" debe ser \"urgente\" o \"programado\".\n\n⚠️ DERIVAR A HUMANO:\nDerivá inmediatamente si el paciente:\n- Describe síntomas de emergencia (dolor en el pecho, dificultad para respirar, \n  pérdida de conciencia, etc.)\n- Solicita hablar con un médico o con una persona\n- Hace preguntas sobre diagnósticos o tratamientos en curso\n- Expresa angustia o urgencia emocional marcada\n\nEn esos casos:\n1. Respondé brevemente si hizo alguna pregunta puntual (dirección, horario, etc.)\n2. Cerrá SIEMPRE con EXACTAMENTE este texto, sin modificarlo:\n\"Entiendo. Para este tipo de situación es mejor que lo asista directamente una \npersona de nuestro equipo. En breve se van a comunicar con usted. 🙏\"\n3. NO agregues nada después de esa frase.\n\n❓ PREGUNTAS FRECUENTES:\nRespondé con precisión y brevedad. No des información que no figura arriba. Si \nno sabés algo, decí que lo puede confirmar llamando al (011) 4902-8800.\n\n❌ LÍMITES:\n- No dé diagnósticos ni interprete síntomas.\n- No confirme turnos (eso lo hace el equipo de admisión).\n- No informe aranceles específicos (derivar a administración)."
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [
        640,
        -32
      ],
      "id": "b8c742d7-2288-4a72-be89-2e309b821879",
      "name": "07 · Agente — GPT-4o-mini",
      "retryOnFail": true,
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "={{ $('04 · Extracción — Teléfono y mensaje').item.json.telefono }}",
        "contextWindowLength": 20
      },
      "type": "@n8n/n8n-nodes-langchain.memoryPostgresChat",
      "typeVersion": 1.3,
      "position": [
        736,
        240
      ],
      "id": "046b42d7-a86f-41c3-8422-a8e147c3df73",
      "name": "08 · Memoria — PostgreSQL",
      "retryOnFail": false,
      "credentials": {
        "postgres": {
          "id": "YOUR_POSTGRES_CREDENTIAL_ID",
          "name": "Postgres account"
        }
      },
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "gpt-4o-mini",
          "mode": "list",
          "cachedResultName": "gpt-4o-mini"
        },
        "builtInTools": {},
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.3,
      "position": [
        640,
        384
      ],
      "id": "d389c81f-0af4-41c7-b360-78f9507ac36a",
      "name": "09 · Modelo — OpenAI",
      "credentials": {
        "openAiApi": {
          "id": "YOUR_OPENAI_CREDENTIAL_ID",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "bbae85ca-b2b9-412f-bbb7-acdcad037084",
              "leftValue": "=={{ $json.error }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "exists",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        992,
        -32
      ],
      "id": "a181ed7e-7302-44c6-ae7a-85e8cb25222b",
      "name": "10 · Filtro — ¿Error en agente?"
    },
    {
      "parameters": {
        "operation": "send",
        "phoneNumberId": "=YOUR_WHATSAPP_PHONE_NUMBER_ID",
        "recipientPhoneNumber": "=={{ $('04 · Extracción — Teléfono y mensaje').item.json.telefono }}",
        "textBody": "=Lamentablemente estamos teniendo una dificultad técnica \nen este momento. Nuestro equipo ya fue notificado y \nalguien se va a comunicar con usted a la brevedad. \nDisculpe las molestias. 🙏",
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.whatsApp",
      "typeVersion": 1.1,
      "position": [
        1680,
        -320
      ],
      "id": "aa0df2d5-40b9-4912-8ea4-3742e279e097",
      "name": "11 · Fallback — Disculpa al paciente",
      "webhookId": "135b3988-7cc3-4fc0-ad2d-64871f6cee9b",
      "credentials": {
        "whatsAppApi": {
          "id": "YOUR_WHATSAPP_CREDENTIAL_ID",
          "name": "WhatsApp account"
        }
      }
    },
    {
      "parameters": {
        "operation": "send",
        "phoneNumberId": "=YOUR_WHATSAPP_PHONE_NUMBER_ID",
        "recipientPhoneNumber": "=YOUR_SUPPORT_TEAM_NUMBER",
        "textBody": "==⚠️ ClinicBot — Falla en AI Agent (OpenAI).\nTeléfono del paciente: ={{ $('04 · Extracción — Teléfono y mensaje').item.json.telefono }}\nRevisar y contactar manualmente.",
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.whatsApp",
      "typeVersion": 1.1,
      "position": [
        1680,
        -496
      ],
      "id": "d5b74d3e-cd54-4154-b978-21d0214f8233",
      "name": "12 · Alerta — Falla OpenAI",
      "webhookId": "135b3988-7cc3-4fc0-ad2d-64871f6cee9b",
      "credentials": {
        "whatsAppApi": {
          "id": "YOUR_WHATSAPP_CREDENTIAL_ID",
          "name": "WhatsApp account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const output = $('07 · Agente — GPT-4o-mini').item.json.output;\n\nif (!output || output.trim() === '') {\n  return [{\n    json: {\n      nombre: '', motivo: '', obra_social: '', urgencia: '', resumen: '',\n      telefono: $('04 · Extracción — Teléfono y mensaje').item.json.telefono,\n      fecha: new Date().toISOString(),\n      mensaje: '',\n      guardar_en_sheets: false,\n      error: 'output_vacio'\n    }\n  }];\n}\n\ntry {\n  const match = output.match(/PATIENT_DATA:(\\{.*\\})/);\n\n  if (match) {\n    const patientData = JSON.parse(match[1]);\n    const mensaje = output.replace(/PATIENT_DATA:\\{.*\\}/, '').trim();\n    const leadCompleto = patientData.nombre\n      && patientData.motivo\n      && patientData.obra_social\n      && patientData.urgencia;\n\n    return [{\n      json: {\n        nombre:      patientData.nombre      || '',\n        motivo:      patientData.motivo      || '',\n        obra_social: patientData.obra_social || '',\n        urgencia:    patientData.urgencia    || '',\n        resumen:     patientData.resumen     || '',\n        telefono:    $('04 · Extracción — Teléfono y mensaje').item.json.telefono,\n        fecha:       new Date().toISOString(),\n        mensaje:     mensaje,\n        guardar_en_sheets: leadCompleto ? true : false,\n        error: null\n      }\n    }];\n  } else {\n    return [{\n      json: {\n        nombre: '', motivo: '', obra_social: '', urgencia: '', resumen: '',\n        telefono: $('04 · Extracción — Teléfono y mensaje').item.json.telefono,\n        fecha: new Date().toISOString(),\n        mensaje: output,\n        guardar_en_sheets: false,\n        error: null\n      }\n    }];\n  }\n} catch (e) {\n  return [{\n    json: {\n      nombre: '', motivo: '', obra_social: '', urgencia: '', resumen: '',\n      telefono: $('04 · Extracción — Teléfono y mensaje').item.json.telefono,\n      fecha: new Date().toISOString(),\n      mensaje: '',\n      guardar_en_sheets: false,\n      error: 'parse_error'\n    }\n  }];\n}"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1360,
        -16
      ],
      "id": "60c3b17e-181e-44fb-bcfc-06fdf7aeeff9",
      "name": "13 · Parser — PATIENT_DATA"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "3f2cbf09-1eea-4ba9-9d71-7167969cbefe",
              "leftValue": "=={{ $json.error }}",
              "rightValue": "is true",
              "operator": {
                "type": "string",
                "operation": "exists",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        1360,
        384
      ],
      "id": "5dd67352-7abe-4974-bf65-872dc4288129",
      "name": "14 · Filtro — ¿Error en parser?"
    },
    {
      "parameters": {
        "operation": "send",
        "phoneNumberId": "=YOUR_WHATSAPP_PHONE_NUMBER_ID",
        "recipientPhoneNumber": "=={{ $('04 · Extracción — Teléfono y mensaje').item.json.telefono }}",
        "textBody": "=={{ $('13 · Parser — PATIENT_DATA').item.json.mensaje }}",
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.whatsApp",
      "typeVersion": 1.1,
      "position": [
        1648,
        -16
      ],
      "id": "d6c761e5-261c-4ae3-b417-b8dae312203c",
      "name": "15 · Respuesta — WhatsApp al paciente",
      "webhookId": "135b3988-7cc3-4fc0-ad2d-64871f6cee9b",
      "credentials": {
        "whatsAppApi": {
          "id": "YOUR_WHATSAPP_CREDENTIAL_ID",
          "name": "WhatsApp account"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "3f2cbf09-1eea-4ba9-9d71-7167969cbefe",
              "leftValue": "={{ $json.guardar_en_sheets }}",
              "rightValue": "is true",
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        1680,
        272
      ],
      "id": "028931ab-5611-4592-8138-d36f10c124de",
      "name": "16 · Filtro — ¿Lead completo?"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        1888,
        480
      ],
      "id": "d28dbdd6-69af-4648-89db-df6166654bdd",
      "name": "17 · End — Lead incompleto"
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "YOUR_GOOGLE_SHEETS_DOCUMENT_ID",
          "mode": "list",
          "cachedResultName": "Leads ClinicBot",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/YOUR_GOOGLE_SHEETS_DOCUMENT_ID/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Hoja 1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/YOUR_GOOGLE_SHEETS_DOCUMENT_ID/edit#gid=0"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "FECHA": "={{ $json.fecha }}",
            "TELEFONO": "={{ $json.telefono }}",
            "NOMBRE": "={{ $json.nombre }}",
            "MOTIVO": "={{ $json.motivo }}",
            "OBRA SOCIAL": "={{ $json.obra_social }}",
            "URGENCIA": "={{ $json.urgencia }}",
            "RESUMEN": "={{ $json.resumen }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "FECHA",
              "displayName": "FECHA",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "TELEFONO",
              "displayName": "TELEFONO",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "NOMBRE",
              "displayName": "NOMBRE",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "MOTIVO",
              "displayName": "MOTIVO",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "OBRA SOCIAL",
              "displayName": "OBRA SOCIAL",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "URGENCIA",
              "displayName": "URGENCIA",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "RESUMEN",
              "displayName": "RESUMEN",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        1888,
        256
      ],
      "id": "f0d69027-967f-40d6-8db1-0b828fd46e23",
      "name": "18 · CRM — Guardar lead en Sheets",
      "executeOnce": false,
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "YOUR_GOOGLE_SHEETS_CREDENTIAL_ID",
          "name": "Google Sheets account"
        }
      },
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "3f2cbf09-1eea-4ba9-9d71-7167969cbefe",
              "leftValue": "=={{ $json.error }}",
              "rightValue": "is true",
              "operator": {
                "type": "string",
                "operation": "exists",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        2128,
        256
      ],
      "id": "dafe9b95-add0-4053-a022-79ea44877641",
      "name": "19 · Filtro — ¿Error en Sheets?"
    },
    {
      "parameters": {
        "operation": "send",
        "phoneNumberId": "=YOUR_WHATSAPP_PHONE_NUMBER_ID",
        "recipientPhoneNumber": "=YOUR_SUPPORT_TEAM_NUMBER",
        "textBody": "==⚠️ ClinicBot — Falla al guardar en Sheets.\nCargar manualmente:\nNombre: ={{ $('13 · Parser — PATIENT_DATA').item.json.nombre }}\nMotivo: ={{ $('13 · Parser — PATIENT_DATA').item.json.motivo }}\nObra social: ={{ $('13 · Parser — PATIENT_DATA').item.json.obra_social }}\nUrgencia: ={{ $('13 · Parser — PATIENT_DATA').item.json.urgencia }}\nTeléfono: ={{ $('13 · Parser — PATIENT_DATA').item.json.telefono }}",
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.whatsApp",
      "typeVersion": 1.1,
      "position": [
        2320,
        0
      ],
      "id": "93ca1594-c301-42ea-86c6-d86d737c7a62",
      "name": "20 · Alerta — Falla Sheets",
      "webhookId": "135b3988-7cc3-4fc0-ad2d-64871f6cee9b",
      "credentials": {
        "whatsAppApi": {
          "id": "YOUR_WHATSAPP_CREDENTIAL_ID",
          "name": "WhatsApp account"
        }
      }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "DELETE FROM n8n_chat_histories WHERE session_id = $1",
        "options": {
          "queryReplacement": "=={{ $('04 · Extracción — Teléfono y mensaje').item.json.telefono }}"
        }
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        2384,
        272
      ],
      "id": "3920aae6-4e53-4190-ac34-d4306c1b328b",
      "name": "21 · Memoria — Reset sesión PostgreSQL",
      "credentials": {
        "postgres": {
          "id": "YOUR_POSTGRES_CREDENTIAL_ID",
          "name": "Postgres account"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "01 · Trigger — WhatsApp Entrante": {
      "main": [
        [
          {
            "node": "02 · Filtro — Mensaje válido",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "02 · Filtro — Mensaje válido": {
      "main": [
        [
          {
            "node": "04 · Extracción — Teléfono y mensaje",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "03 · End — Mensaje inválido",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "04 · Extracción — Teléfono y mensaje": {
      "main": [
        [
          {
            "node": "05 · Filtro — ¿Es texto?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "05 · Filtro — ¿Es texto?": {
      "main": [
        [
          {
            "node": "07 · Agente — GPT-4o-mini",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "06 · Fallback — Mensaje no textual",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "07 · Agente — GPT-4o-mini": {
      "main": [
        [
          {
            "node": "10 · Filtro — ¿Error en agente?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "08 · Memoria — PostgreSQL": {
      "ai_memory": [
        [
          {
            "node": "07 · Agente — GPT-4o-mini",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "09 · Modelo — OpenAI": {
      "ai_languageModel": [
        [
          {
            "node": "07 · Agente — GPT-4o-mini",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "10 · Filtro — ¿Error en agente?": {
      "main": [
        [
          {
            "node": "11 · Fallback — Disculpa al paciente",
            "type": "main",
            "index": 0
          },
          {
            "node": "12 · Alerta — Falla OpenAI",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "13 · Parser — PATIENT_DATA",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "13 · Parser — PATIENT_DATA": {
      "main": [
        [
          {
            "node": "15 · Respuesta — WhatsApp al paciente",
            "type": "main",
            "index": 0
          },
          {
            "node": "14 · Filtro — ¿Error en parser?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "14 · Filtro — ¿Error en parser?": {
      "main": [
        [
          {
            "node": "11 · Fallback — Disculpa al paciente",
            "type": "main",
            "index": 0
          },
          {
            "node": "12 · Alerta — Falla OpenAI",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "16 · Filtro — ¿Lead completo?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "16 · Filtro — ¿Lead completo?": {
      "main": [
        [
          {
            "node": "18 · CRM — Guardar lead en Sheets",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "17 · End — Lead incompleto",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "18 · CRM — Guardar lead en Sheets": {
      "main": [
        [
          {
            "node": "19 · Filtro — ¿Error en Sheets?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "19 · Filtro — ¿Error en Sheets?": {
      "main": [
        [
          {
            "node": "20 · Alerta — Falla Sheets",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "21 · Memoria — Reset sesión PostgreSQL",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false
  },
  "versionId": "fcb10a85-f5c8-4395-a71a-b8ccd6a9ba22",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "YOUR_N8N_INSTANCE_ID"
  },
  "id": "knsih6Ns5nkHzQyV",
  "tags": []
}